html, body { 
    background: url("./background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    height: 100%;
  }
  
  div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
  }

  img.spinner{
    cursor: pointer;  
    height: 50%;
    align-self: center;
  }

  #spinning {
    height: 50%;
    align-self: center;
  }


  @media screen and (max-width: 480px) { 
    html{
        /* background-image: url("./background.png");
        background-position: left top;
        height: 100vh;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain; */
        }
    
    img.spinner {
    }
    
    #spinning {
        }
    
  }
  