html { 
    background: url("./left.png") no-repeat 0 center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  
  html {
    background-image: url("./left.png"), url("./right.png");
    background-position: left center, right center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  img.spinner{
    display: block;
    margin: auto auto;
    cursor: pointer;  
    width: 375px;
    padding-top: 25vh;
  }

  #spinning {
    display: block;
    margin: auto auto;
    width: 375px;
    padding-top: 25vh;
  }


  @media screen and (max-width: 1024px) { 
    html{
        background-image: url("./left.png"), url("./right.png");
        background-position: left top, right top;
        height: 100vh;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        }
    
    img.spinner {
        padding-top: 25vh;
        width: 375px;
    }
    
    #spinning {
         padding-top: 25vh;
         width: 375px;
        }
    
  }
  